##  Python
__pycache__/
__pypackages__/
.cache
.dmypy.json
.hypothesis/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.neptune/
.nox/
.pyre/
.pytest_cache/
.Python
.python-version
.ropeproject
.scrapy
.spyderproject
.spyproject
.tox/
.venv

##  Coverage
.coverage
.coverage.*
*,cover
*.cover
coverage.xml
nosetests.xml
report.xml

##  Eggs
.eggs/
*.egg
*.egg-info/
**.egg-info/

##  Logs
*.log

##  Localization
*.mo
*.pot

##  Models
*.mar
*.onnx
*.pkl
*.pt

##  Compiled files
*.pyc
*.sage.py
*.so
*.spec

##  Temporary files
*.manifest

##  Bicep
/infrastructure/bicep/bicepconfig.json
/infrastructure/bicep/main.json

##  Site
/site

##  Build
build/
cmake-build-*/

##  Celery
celerybeat-schedule
celerybeat.pid

##  Database
db.sqlite3
db.sqlite3-journal

##  Distribution
dist/
downloads/
sdist/

##  Documentation
docs/_build/
docs/licenses_table.rst

##  Eggs
develop-eggs/

##  Environment
.env
env.bak/
env/
ENV/
pyvenv.cfg
venv.bak/
venv/

##  HTML
htmlcov/

##  Instance
instance/

##  IPython
ipython_config.py

##  Libraries
lib/
lib64/

##  Licenses
licenses.txt

##  Parts
parts/

##  Pip
pip-delete-this-directory.txt
pip-log.txt
pip-selfcheck.json
pip-wheel-metadata/

##  Profile
profile_default/

##  Public
public/

##  Share
share/python-wheels/

##  Target
target/

##  Terraform
.terraform
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars

##  Var
var/

##  Visual Studio Code
.vscode/

##  Webassets
.webassets-cache

##  Other
.DS_Store
